:root {
  --color-white: #fff;
  --color-main: #FEE5AC;
  --transition: all .3s;
}

@mixin Button {
  padding: 4px 20px;
  background-color: var(--color-white);
  border: 1px solid #000;
  border-radius: 20px;
  color: #000;
  font-size: 24px;
  transition: var(--transition);

  &:hover {
    scale: 1.1;
    box-shadow: 0 0 10px var(--color-white);
  }
}

@mixin Height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  font-family: 'Dancing Script', cursive;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

.container {
  max-width: 1330px;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

canvas {
  position: fixed;
  top: 0;
  z-index: -1;
}

.fp-watermark {
  display: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: var(--color-white);
  z-index: 5;

  &__inner {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }

  &__btns {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__btn {
    font-size: 26px;
    display: flex;
    align-items: center;
    --ionicon-stroke-width: 30px;
    color: var(--color-main);
    transition: var(--transition);

    &:hover {
      scale: 1.1;
    }

    &:nth-child(1) {
      font-size: 32px;
    }
  }

  &__btn-exit {
    @include Button();
  }
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: var(--color-white);
}

.menu {
  flex-grow: 1;
  margin-right: 40px;

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-left: auto;
  }

  &__list-item {
    font-size: 26px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: auto;
      width: 0;
      height: 2px;
      background-color: #fff;
      border-radius: 2px;
      transition: var(--transition);
    }

    &:not(.menu__list-item--active) {
      &:hover {
        &:after {
          width: 100%;
          right: 0;
          left: auto;
        }
      }
    }

    &--active {
      &::after {
        width: 100%;
      }
    }
  }

  &__list-link {
    color: var(--color-white);
  }
}

.burger {
  display: none;
}

.swiper {
  @include Height();
}

.swiper-slide {
  height: 100%;
}


// TOP
.top {
  height: 100%;

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__block {
    margin-top: 5%;
  }

  &__subtitle {
    font-size: 30px;
    color: var(--color-white);
    line-height: 1;
  }

  &__title {
    color: var(--color-main);
    font-size: 60px;
    line-height: 1.2;
    margin-bottom: 20px;
    font-weight: 700;
  }

  &__text {
    color: var(--color-white);
    font-size: 24px;
    max-width: 500px;
  }

  &__btn {
    color: var(--color-white);
    @include Button();
    margin-top: 20px;
    font-weight: 700;
  }

  &__link {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    transition: var(--transition);

    &:hover {
      scale: 1.05;
      box-shadow: 0 0 10px #ffffff77;
      backdrop-filter: blur(10px);
      background-color: #ffffff2a;
    }
  }
}

// CUSTOM
.custom {
  height: 100%;

  &__inner {
    padding-top: 10%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    color: var(--color-white);
    text-shadow: 0 0 10px #000;
    max-width: 35%;
    font-size: 30px;
    font-weight: 700;

    &-box {
      width: 100%;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
    }
  }

  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #ffffff6e;
    border: 1px solid #000;
    border-radius: 30px;
    padding: 10px 30px;
    backdrop-filter: blur(20px);
    width: fit-content;
    margin: 0 auto 20px;
  }

  &__btn {
    font-size: 28px;
    display: flex;
    --ionicon-stroke-width: 20px;
    transition: var(--transition);
    position: relative;
    padding-bottom: 5px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: auto;
      width: 0;
      height: 2px;
      background-color: #000000c7;
      border-radius: 4px;
      transition: var(--transition);
    }

    svg {
      width: 30px;
      height: 30px;
    }

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {

      // scale: 1.1;
      &::after {
        width: 100%;
        left: auto;
        right: 0;
      }
    }

    &--active {
      &::after {
        width: 100%;
      }
    }
  }

  &__box {
    position: relative;
    width: 100%;
  }

  &__choice {
    opacity: 0;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #000;
    border-radius: 30px;
    backdrop-filter: blur(10px);
    background-color: #ffffff8e;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    transition: all .2s;

    &-btns {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-right: 20px;
    }

    &-btn {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      transition: all .3s;
      padding: 8px;
      border: 1px solid transparent;
      border-radius: 50%;

      &:hover {
        border: 1px solid #0000004b;

        img {
          scale: 1.2;
        }
      }

      img {
        min-height: 100%;
        min-width: 100%;
        object-fit: cover;
        transition: var(--transition);
      }

      &--active {
        border: 1px solid #0000004b;
        border-radius: 50%;
      }
    }

    &-exit {
      border: 1px solid #000;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: var(--transition);

      &:hover {
        transform: rotate(90deg);
        box-shadow: 0 0 10px #0000009d;
      }
    }

    &--active {
      opacity: 1;
    }
  }
}


// FEEDBACK
.feedback {
  height: 100%;

  &__inner {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__box {
    width: 400px;
    backdrop-filter: blur(10px);
    background-color: #ffffff2a;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 30px 30px 30px;
    text-align: center;
    transform: translateX(-50%);
  }

  &__title {
    font-size: 40px;
    line-height: 1;
  }


  &__form-inputwrapper {
    height: 40px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid #fff;
    padding: 0 40px 0 10px;

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      font-weight: 700;
      transition: var(--transition);
    }

    ion-icon {
      position: absolute;
      right: 10px;
      color: #fff;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
    }

    margin-top: 20px;
  }

  &__form-input {
    width: 100%;
    height: 100%;
    font-size: 20px;

    &:focus~label,
    &:valid~label {
      top: 0;
    }
  }

  &__form-checkbox {
    margin-top: 10px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    font-size: 18px;
  }

  &__form-btn {
    margin-top: 30px;
    background-color: var(--color-white);
    color: #000;
    font-size: 22px;
    border-radius: 20px;
    width: 100%;
    padding: 7px 10px;
    font-weight: 700;
    transition: var(--transition);

    &:hover {
      background-color: #ffffffda;
      box-shadow: 0 0 5px #fff;
    }
  }
}



// FOOTER
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 10px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {}

  &__list {
    display: flex;
    gap: 20px;
  }

  &__list-item {}

  &__list-link {
    color: #fff;
    font-size: 20px;
  }
}


// LOADERS
.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 500;
  // padding-bottom: 10%;
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
  }
  &-box{
    z-index: 550;
    text-align: center;
    margin-bottom: 5%;
    font-size: 24px;
    color: #3f3f3f;
  }
  &-percent{
  }
  &.hidden{
    opacity: 0;
    transition: opacity 0.5s ease-out;
    pointer-events: none;
  }
}

.wait{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  // background-color: #ffffff3d;
  // backdrop-filter: blur(10px);
  transition: opacity 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &.hidden{
    opacity: 0;
    pointer-events: none;
  }
}

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; 
  animation: sk-chase-dot 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
}

.sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
.sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
.sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
.sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
.sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
.sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
.sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

@keyframes sk-chase {
  100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot {
  80%, 100% { transform: rotate(360deg); } 
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4); 
  } 100%, 0% {
    transform: scale(1.0); 
  } 
}


// ADAPTIVE
@media(max-width: 1000px) {
  .top__block {
    margin-top: 0;
  }

  .top__text {
    max-width: 450px;
  }
}

@media(max-width: 900px) {
  .feedback__inner {
    align-items: flex-start;
    padding-top: 15%;
  }

  .feedback__box {
    transform: translateX(0);
  }
}

@media(max-width: 800px) {
  .burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    margin-right: 20px;
    z-index: 10;

    span {
      width: 100%;
      height: 2px;
      border-radius: 3px;
      background-color: #fff;
      position: absolute;
      left: 0;
      transition: var(--transition);

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    &--active {
      span {
        &:nth-child(1) {
          top: 50%;
          transform: translateY(-50%) rotate(45deg);
        }

        &:nth-child(2) {
          transform: translate(100%, -50%);
          opacity: 0;
        }

        &:nth-child(3) {
          bottom: auto;
          top: 50%;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }

  }

  .menu {
    position: absolute;
    left: -100%;
    top: 0;
    padding: 60px 15px 20px;
    border-radius: 0 10px 10px 10px;
    backdrop-filter: blur(10px);
    background-color: #ffffff49;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transition: var(--transition);
    width: 150px;


    &__list {
      margin-left: 0;
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      &-link{
        color: #000;
      }
    }

    &--active {
      left: 0;
    }
  }

  .header__inner {
    justify-content: space-between;
    padding: 15px 0;
  }

  .top__inner {
    align-items: flex-start;
    padding-top: 18%;
  }

  .top__title {
    font-size: 50px;
    margin-bottom: 10px;
  }

}

@media(max-width: 700px) {
  .custom__text {
    max-width: 100%;
  }

  .custom__inner {
    padding-top: 15%;
  }
}

@media(max-width: 650px) {
  .custom__choice {
    max-width: 100%;
  }

  .custom__choice-wrapper {
    overflow: scroll;
  }

  .custom__choice-btns {
    min-width: fit-content;
    margin-right: 0;
  }

  .custom__choice-exit {
    display: none;
  }

  .custom__choice-btn {
    &:hover {
      border: 1px solid transparent;

      img {
        scale: 1;
      }
    }
  }

  .custom__btn {
    &:hover {
      &::after {
        width: 0;
      }
    }
  }

  .feedback__inner {
    padding-top: 20%;
  }
}


@media(max-width: 600px) {
  .header__btns {
    gap: 15px;
  }

  .top__text {
    max-width: 100%;
    line-height: 1.2;
  }

  .top__inner {
    padding-top: 30%;
  }

  .top__title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .top__subtitle {
    font-size: 25px;
  }

  .custom__text {
    font-size: 24px;
  }

  .custom__inner {
    padding-top: 17%;
  }

  .feedback__inner {
    padding-top: 20%;
  }

  .feedback__form-btn {
    margin-top: 20px;
  }

  .feedback__box {
    padding: 25px 30px;
  }

  .feedback__form-inputwrapper {
    margin-top: 15px;
  }
  .loader-box{
    font-size: 20px;
  }
}

@media(max-width: 500px) {
  .header__btns {
    gap: 10px;
  }

  .logo {
    font-size: 26px;
  }

  .header__btn-exit {
    padding: 4px 15px;
    font-size: 22px;
  }

  .top__text {
    font-size: 22px;

    span {
      display: none;
    }
  }

  .top__inner {
    padding-top: 40%;
  }

  .top__title {
    font-size: 35px;
  }

  .top__subtitle {
    font-size: 22px;
  }

  .footer__list {
    gap: 15px;
  }
}

@media(max-width: 400px) {
  .header__inner {
    justify-content: flex-start;
    padding: 15px 0;
  }

  .header__btns {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .logo {
    font-size: 24px;
  }

  .top__inner {
    padding-top: 35%;
  }
}

@media(max-width: 370px) {
  .logo {
    display: none;
  }

  .top__title {
    font-size: 30px;
  }

  .top__text {
    font-size: 20px;
  }

  .custom__text {
    font-size: 22px;
  }

  .custom__inner {
    padding-top: 20%;
  }

  .feedback__inner {
    padding-top: 22%;
  }

  .feedback__box {
    padding: 25px 20px;
  }
  .footer__list {
    gap: 10px;
  }
}

@media(max-width: 340px) {
  .custom__btns {
    gap: 30px;
  }
}